<section class="content invoice">
  <table class="table">
    <thead>
    <tr>
      <th>Nombre</th>
    </tr>
    </thead>
    <tbody>
    <% @beneficiarios.each do |beneficiario|%>
        <tr>
          <td><%= beneficiario.nombre.to_s%> </td>
        
        </tr>
    <%end%>
    </tbody>
  </table>

</section>