<% content_for :content_header  do %>
    <section class="content-header">
      <h1>Editar <small>Objetivo</small></h1>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%= link_to "Objetivos", objetivos_path %></li>
       <li class="active">editar</li>
      </ol>
    </section>
<% end %>

<%= render 'form' %>